*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
}


.top-navbar{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#nav:popover-open #nav2:popover-open{
    display:grid;
    grid-template-columns: 1fr;
}
.mobile-navbar-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1rem;
    
}
.mobile-navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-primary);
    z-index: 1000;
    
}
.button{
    
    font-size:1rem;
    padding:0.5em 1em;
    border-radius: 0.5em;
    width: 100%;
}
container-page{
    display:grid;
    grid-template-columns: 1fr;
}
#menu:popover-open{
    display:grid;
    grid-template-columns: 1fr;
    height: 93dvh;
    width: 100dvw;
    padding:2em;
    align-content: space-around;
}
.action{
    background-color: oklch();
}

.container-1col{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.container-content-holder{
    display: grid;
    grid-template-columns: 1fr;
    width: min(100%,60ch);
    padding: 1em;
    justify-items: left;
    
    
}
.container-buttons{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
    background-color: var(--background-primary);
    width: 100%;
    
}



@media screen and (max-width:768px) {
    .top-navbar{
        display: none;
        
    }
}
@media screen and (min-width:769px) {
    .mobile-navbar{
        display: none;
    }
    .container-content-holder{
        justify-items: start;
    }
    .container-buttons{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .button{
        width:auto;
    }
}
